extends layout
block body
    body.landing
        .content
            .phone
                p Allow sign in to #[b UrBank] from #[b Toronto, Canada]?
                .buttons
                    button.btn.btn-filled.btn-block Yes
                    button.btn.btn-outline.btn-block No
            .text
                h1 Say hello to Bioweb.
                p We're a free, simple, and open platform #[br] for biometric two-factor authentication.
                .buttons
                    a.btn.btn-filled.btn-lg(href="/user/register") Sign Up
                    a.btn.btn-outline.btn-lg(href="https://github.com/bioauth")
                        i.icon.icon-github4
                        | &nbsp; Get Sourc'd
