extends ../layout
block body
    body
        .center-box
            .logo
            .boxed
                .yay
                    h2
                        i.icon.icon-checkbox-checked2
                        | Yay! You're registered!

                    p Download our app on your mobile phone, then you'll be able to sign in to any BioAuth-enabled website!

                    .app-downloads
                        a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                            include ../../static/img/apple-store.svg
                        a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                            include ../../static/img/play-store.svg
